doctype html
html
    head
        title= "Football Pong Scoreboard"
        script(src='/script.js')
        script(src='/socket.io/socket.io.js')
        link(href='/style.css' rel="stylesheet" type="text/css")
    body
        #container
            #scores.boxes
                #home-score.box
                    = "7"
                #away-score.box
                    = "14"