doctype html
html
    head
        title= "Football Pong Scoreboard"
        script(src='/script.js')
        script(src='/socket.io/socket.io.js')
    body
        #content
          button(href="/new_game")
            New Game