@font-face {
	font-family: scoreBoard;
	src: url('/scoreboard.ttf');
}

body {
	background-color: #222222;
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial;
}

#container {
	background: #222 url('/bg.png');
	width: 90%;
	border: 5px solid #ffffff;
	margin: 0 auto;
	margin-top: 30px;
	border-radius: 4px;
	color: #ffffff;
}

/* First Row */
.first-row {
	margin-top: 20px;
}
.first-row .box {
	margin: 0;
	display: inline-block;
	padding: 10px;
	width: 30%;
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
	text-align: center;
}
.first-row .box h4 {
	margin: 0;
	font-size: 2em;
}
.first-row .box .score {
	font-size: 1.5em;
}

.first-row #player1 {
	float: left;
}

.first-row #player2 {
	float: right;
}

/* General */
.label {
	font-weight: bold;
	font-size: 1.8em;
	text-transform: uppercase;
}

.number {
	color: #fedd51;
	font-size: 6em;
	margin: 4px;
	padding: 0 6px;
	font-family: scoreBoard;
	text-shadow: 0 0 14px yellow;
}

span.serving {
	font-size: 36px !important;
	letter-spacing: 3px;
}

.timeouts {
	display: inline-block;
	margin-top: 10px;
}

.timeouts .number {
	font-size: 2em;
}

.clear {
	clear: both;
}